.img-header{
	border-radius: 9px;
	width: 90%;
}

.img-kepsek{
	border-radius: 9px;
	width: 70%;
	height: 70%;
}

.card-informasi{
	background-color: #60a14e;
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 9px;
}

.video-content{
	border-radius: 9px;
}